apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: pokemon-app
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - port: 4000
    targetPort: 4000
    protocol: TCP
    name: http
  sessionAffinity: None
