apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: pokemon-app
  labels:
    app: frontend
spec:
  type: LoadBalancer  # Para acceso externo
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
    # nodePort: 30080  # Descomentar si usas NodePort en minikube
